body {
	font-family: helvetica, arial;
	padding: 0;
	margin: 0;	
}
.popup {
	position: absolute;
	padding: 10px;
	background-color: #F0F0F0;
	border: 1px solid #CCC;	
}

img {
	float: left;	
}